body,
html {
  margin: 0;
  padding: 0;
  font-family: Calibri;
  text-align: center;
  position: relative;
  font-family: 'Roboto', sans-serif; }

h1 {
  margin: 0;
  padding: 0; }

.welcome {
  height: 100vh;
  width: 100%; }
  .welcome .content {
    margin: 0;
    padding: 30px 60px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4vmin;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    transform: translate3d(-50%, -50%, 0); }
    .welcome .content h1 {
      text-transform: uppercase; }
    .welcome .content p {
      font-style: italic; }
    .welcome .content .but {
      background: none;
      border: 2px solid white;
      font-size: 3vmin;
      color: white; }
    .welcome .content .box {
      position: relative;
      vertical-align: middle;
      line-height: 30px;
      text-align: center;
      transition: 0.5s;
      padding: 0 20px;
      -webkit-transition: 0.5s; }
    .welcome .content .box:hover {
      border: 2px solid rgba(0, 160, 80, 0);
      color: #FFF; }
    .welcome .content .box::before,
    .welcome .content .box::after {
      width: 100%;
      height: 100%;
      z-index: 3;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      -webkit-transform: scale(0);
      transition: 0.5s; }
    .welcome .content .curmudgeon::before {
      border-bottom: 3px solid #FFF;
      border-left: 0;
      -webkit-transform-origin: 0% 100%; }
    .welcome .content .curmudgeon::after {
      border-top: 0;
      border-right: 0;
      -webkit-transform-origin: 50% 50%; }
    .welcome .content .box:hover::after,
    .welcome .content .box:hover::before {
      -webkit-transform: scale(1); }

.menu {
  display: none; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.but {
  cursor: pointer; }

.item {
  width: 50%;
  height: 50vh;
  overflow: hidden; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.welcome {
  position: relative;
  overflow: hidden; }
  .welcome .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../images/pattern.png") #E1DECE no-repeat center center;
    background-size: cover;
    transform: scale(1.1); }

@media only screen and (max-width: 600px) {
  .item {
    width: 100%; } }
.menu .item {
  cursor: pointer;
  position: relative;
  margin: auto;
  perspective: 800px; }
  .menu .item div {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    height: 50vh;
    width: 100%;
    transition: .4s ease-in;
    transition-property: background, transform;
    transform-style: preserve-3d;
    background: url(../images/untitled.png);
    background-size: cover; }
  .menu .item .front {
    background-color: #dbdbdb;
    z-index: 1;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .menu .item .front p {
      font-size: 5vh;
      margin: 0;
      color: black;
      font-weight: bold;
      text-transform: uppercase; }
  .menu .item .back {
    background-color: #c2bfda;
    transform: rotateX(-180deg) translateZ(0);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .menu .item .back span {
      display: flex;
      align-items: center;
      margin: 10px 0 10px; }
      .menu .item .back span a {
        text-decoration: none;
        padding-left: 10px; }
      .menu .item .back span img {
        max-width: 20px; }
  .menu .item .front--second {
    background-color: #d0a5a5; }
  .menu .item .front--third {
    background-color: #afa7a7; }
.menu .item--first div {
  background: url(../images/aboutme.png);
  background-size: cover; }
.menu .item--second div {
  background: url(../images/portfolio.png);
  background-size: cover; }
.menu .item--fourth div {
  background: url(../images/contacts.png);
  background-size: cover; }

/*# sourceMappingURL=main.css.map */
